/* .node circle {
  fill: #999;
} */
html,
body,
svg {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

input {
  position: fixed;
  font-size: 16px;
}

.node {
  cursor: pointer;
}

.node text {
  font: 15px sans-serif;
  line-height: 15px;
}

/* .node--internal circle {
  fill: #555;
} */

rect.bg {
  fill: #ffffff;
}

.node rect {
  fill: #ddd;
}

.active rect {
  fill: #046b37;
}

.active text {
  fill: #ffffff;
}

.node.selected {
  cursor: default;
}

.selected text {
  font-weight: bold;
}

/* .node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
} */

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
