/* .node circle {
  fill: #999;
} */
html,
body,
svg,
#svg-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

form {
  margin: 8px;
  padding: 8px;
  padding-top: 0px;
  background: white;
  position: fixed;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input {
  font-size: 16px;
  min-width: 255px;
  border: none;
  padding-left: 16px;
  padding-right: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 8px;
}

.border-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  transition: border 200ms ease-in-out;
}

.border-wrapper:focus-within {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.border-wrapper::after {
  display: block;
  content: '';
  /* z-index: 3; */
  border-bottom: 2px solid #008000;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.border-wrapper:focus-within::after {
  transform: scaleX(1);
}

.node {
  cursor: pointer;
}

.node text {
  font: 15px sans-serif;
  line-height: 15px;
}

rect.bg {
  fill: #ffffff;
}

.node rect {
  fill: #ddd;
}

.active rect {
  fill: #046b37;
}

.active text {
  fill: #ffffff;
}

.node.selected {
  cursor: default;
}

.selected text {
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

#auto-list {
  position: relative;
  min-width: 255px;
  top: 8px;
  padding: 8px 0px;
  background: white;
  transition: opacity 0.2s ease-in-out;
}

#auto-list div {
  padding: 0px 16px;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  line-height: 48px;
  background: white;
}

#auto-list div:hover {
  background: #eeeeee;
}

@media screen and (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
  }

  form {
    position: inherit;
    margin-bottom: 0px;
    z-index: 1;
  }
}
